# Build with Maven and deploy to Maven Central
#
# This is not a release workflow, use it to deploy a SNAPSHOT
# version of your project.
#
# Call this workflow on push to the base branch.
#
# Requirements:
#
# - OSSRH_USERNAME secret (at the repository or organization level)
# - OSSRH_TOKEN secret

name: Maven Deploy to Maven Central

on:
  workflow_call:
    inputs:
      jdkVersion:
        type: string
        description: "Version of the JDK to setup and use"
        required: false
        default: "17"
      nodeVersion:
        type: string
        description: "Version of Node.js to setup and use (if needed)"
        required: false
        default: ""

jobs:
  build:

    runs-on: ubuntu-latest

    permissions:
      contents: write
    
    steps:
    - uses: actions/checkout@v5
    
    - name: Set up JDK ${{ inputs.jdkVersion }}
      uses: actions/setup-java@v4
      with:
        java-version: ${{ inputs.jdkVersion }}
        distribution: temurin
        cache: maven

    - name: Set up Maven settings.xml
      uses: s4u/maven-settings-action@v3.1.0
      with:
        servers: '[{"id": "ossrh", "username": "${env.OSSRH_USERNAME}", "password": "${env.OSSRH_TOKEN}"}]'
        sonatypeSnapshots: true

    - name: Setup Node.js ${{ inputs.nodeVersion }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ inputs.nodeVersion }}
        cache: npm
      if: ${{ inputs.nodeVersion != '' }}

    - name: Build and deploy with Maven
      run: mvn -B deploy --file pom.xml
      env:
        OSSRH_USERNAME: ${{ secrets.OSSRH_USERNAME }}
        OSSRH_TOKEN: ${{ secrets.OSSRH_TOKEN }}
        
    # Uploads the full dependency graph to GitHub to improve the quality of Dependabot alerts this repository can receive
    - name: Update dependency graph
      uses: advanced-security/maven-dependency-submission-action@aeab9f885293af501bae8bdfe88c589528ea5e25
